.sfs-form body {
  font-family: Arial, sans-serif; }

.sfs-form .heading {
  margin: 10px 20px;
  text-align: center;
  line-height: 1.5rem;
  font-size: 32px;
  color: #333; }

.sfs-form .form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px; }

.sfs-form .form-group {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column; }
  .sfs-form .form-group .phone-prefix {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .sfs-form .form-group .phone-prefix span {
      background-color: #eee;
      padding: 8px 12px;
      align-self: center;
      margin-right: 3px; }
  .sfs-form .form-group .icon-container {
    display: inline-block;
    position: relative;
    min-width: 320px; }
    .sfs-form .form-group .icon-container:hover .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(-6px); }
  .sfs-form .form-group .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    transform: translateX(-30%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s; }

.sfs-form .form-group.phone span {
  margin-right: 2px; }

.sfs-form label {
  font-weight: bold;
  margin-bottom: 5px; }

.sfs-form .item-container {
  display: flex;
  flex-direction: row;
  max-width: 600px; }

.sfs-form .tag {
  padding: 10px 16px;
  margin: 5px 2px;
  background-color: #ddd;
  cursor: pointer; }

.sfs-form input[type="text"],
.sfs-form input[type="number"],
.sfs-form input[type="email"],
.sfs-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.sfs-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 150px;
  resize: none; }

.sfs-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.sfs_table {
  max-width: 800px;
  width: auto;
  border-collapse: collapse; }
  .sfs_table td {
    max-width: 100px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    padding: 10px; }

@media (max-width: 780px) {
  .sfs_table {
    width: auto;
    overflow: auto; }
  td {
    max-width: none;
    width: auto; } }
